/*

Добавляем стили для подсветки валидируемых полей.
Красным подсвечиваем некорректно заполненные поля только после начала ввода в них каких-либо значений.
Зеленым подсвечиваем корректно заполненные поля только после начала ввода в них каких-либо значений.

Классы .ng-invalid, .ng-valid и .ng-dirty добавляются автоматически библиотекой agularjs валидируемым
полям в зависимости от стостояния формы.

*/

.ng-invalid.ng-dirty {
    border-bottom-width: 2;
    border-color: red;
}

.ng-valid.ng-dirty {
    border-bottom-width: 2;
    border-color: green;
}